@import "../Variables/Variables.scss";

.topNavbar {
    height: 30px;
    background-color: $greenColor;

    .links {
        a {
            color: $whiteColor;
            margin: 5px;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .sociallinks {
        .iconColor {
            color: $whiteColor !important;
        }
    }
}