@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap");
.mainPage {
  background-color: #F2F2F2;
}

.mainPage .logoSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPage .logoSection img {
  width: 320px;
  padding: 30px;
  height: 280px;
}

.mainPage .navSection a {
  text-align: center;
  background-color: none;
  font-size: 11px;
  color: #011826;
  font-weight: 800;
}

.mainPage .navSection a:hover {
  background-color: #024873;
  border-radius: 20px;
  color: #f6efe7 !important;
}

.mainPage .navSection a.active {
  background-color: #011826;
  border-radius: 20px;
  color: #F2B705;
}

.mainPage .sliderSection {
  padding: 40px 30px 30px 30px;
}

.mainPage .banner {
  margin: 20px 0 20px 0;
  border: 5px solid #1a1a1a;
  border-radius: 20px;
  padding: 20px 10px 20px 10px;
}

.mainPage .banner h2 {
  font-family: "Catamaran", cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 2px 0.1em #040f3d93;
}

.mainPage .banner h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: x-large;
  text-shadow: 1px 2px 0.3em #040f3d97;
}

.mainPage .cards {
  margin-top: 20px;
  margin-bottom: 30px;
}

.mainPage .cards .padCards {
  max-width: 700px;
  margin: auto;
  border: none;
}

.mainPage .cards .card1 {
  background-color: #0367A6;
  border: none;
}

.mainPage .cards .card1 img {
  padding: 10px;
  width: 100%;
}

.mainPage .cards .card1 h2 {
  text-align: center;
  padding: 10px;
  color: #f6efe7;
  font-size: medium;
}

.mainPage .cards .card2 {
  background-color: #F2B705;
  border: none;
}

.mainPage .cards .card2 img {
  padding: 10px;
  width: 100%;
}

.mainPage .cards .card2 h2 {
  text-align: center;
  padding: 10px;
  color: #f6efe7;
  font-size: medium;
}

.mainPage .cards .card3 {
  background-color: #A6290D;
  border: none;
}

.mainPage .cards .card3 img {
  padding: 10px;
  width: 100%;
}

.mainPage .cards .card3 h2 {
  text-align: center;
  padding: 10px;
  color: #f6efe7;
  font-size: medium;
}

.mainPage .overall-view {
  max-width: 900px;
  margin: auto;
  border: none;
}

.mainPage .overall-view .gradient-pattern {
  background: linear-gradient(135deg, #333 25%, transparent 25%) -50px 0, linear-gradient(225deg, #333 25%, transparent 25%) -50px 0, linear-gradient(315deg, #333 25%, transparent 25%), linear-gradient(45deg, #333 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #f6efe7;
  padding: 22px 32px 22px 32px;
  margin-bottom: 30px;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper {
  background-color: #fff;
  padding-bottom: 10px;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper h3 {
  font-size: 1.2rem;
  font-family: "Pacifico", cursive;
  line-height: 40px;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel1 {
  background-color: #0367A6;
  border-radius: 15px;
  padding: 10px;
  height: 250px;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel1 ul {
  list-style-type: square;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel1 li {
  font-size: 13px;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel2 {
  background-color: #F2B705;
  border-radius: 15px;
  padding: 10px;
  height: 250px;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel2 ul {
  list-style-type: square;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel2 li {
  font-size: 13px;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel3 {
  background-color: #F27405;
  border-radius: 15px;
  padding: 10px;
  height: 250px;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel3 ul {
  list-style-type: square;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel3 li {
  font-size: 13px;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel4 {
  background-color: #4F7302;
  border-radius: 15px;
  padding: 10px;
  height: 250px;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel4 ul {
  list-style-type: square;
}

.mainPage .overall-view .gradient-pattern .pannel-wrapper .panel4 li {
  font-size: 13px;
}
/*# sourceMappingURL=MainPage.css.map */