@import "../Variables/Variables.scss";

.mainPage {
    background-color: $backGroundWhiteColor;
    .logoSection {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 320px;
            padding: 30px;
            height: 280px;
        }
    }
    .navSection {
        a {
            text-align: center;
            background-color: none;
            font-size: 11px;
            color: $darkColor;
            font-weight: 800;
        }
        a:hover {
            background-color: $darkBlueColor;
            border-radius: 20px;
            color: $whiteColor !important;
        }
        a.active {
            background-color: $darkColor;
            border-radius: 20px;
        }
    }
    .sliderSection {
        padding: 40px 30px 30px 30px;
    }

    .banner{
        margin: 20px 0 20px 0;
        border: 2px solid $blackColor;
        border-radius: 20px;
        h1 {
            padding: 20px 10px 20px 10px;
            font-family: $bannerFont;
            text-align: center;
        }
    }

    .cards {
        .card1 {
            img {
                padding: 10px;
                width: 100%;
            }
            @include card($greenColor, $whiteColor);
        }
        .card2 {
            img {
                padding: 10px;
                width: 100%;
            }
            @include card($greenColor, $whiteColor);
        }
        .card3 {
            img {
                padding: 10px;
                width: 100%;
            }
            @include card($greenColor, $whiteColor);
        }
    }
}