// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

$blackColor: rgb(26, 26, 26);
$darkColor: #011826;
$darkBlueColor: #024873;
$whiteColor: rgb(246, 239, 231);
$redColor: rgb(174, 2, 2);
$greyColor: rgb(185, 191, 164);
$backGroundWhiteColor: #F2F2F2;
$greenColor: #1A7341;
$card1Color: #0367A6;
$card2Color: #F2B705;
$card3Color: #A6290D;
$card4Color: #4F7302;
$card5Color: #F27405;

// FONTS
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;
$bannerFont: 'Pacifico', cursive;
$bannerFont2: 'Satisfy', cursive;
$bannerFont3: 'Catamaran', cursive;
$txtFont: 'Raleway', sans-serif;

@mixin buttonStyle($color, $fontSize) {
    width: 200px;
    height: 40px;
    background-color: $color;
    border: none;
    border-radius: 8px;
    color: $whiteColor;
    font-size: $fontSize;
}

@mixin card($color) {
    background-color: $color;
    border: none;
}

@mixin panel($color) {
    background-color: $color;
    border-radius: 15px;
    padding: 10px;
    height: 250px;

    ul {
        list-style-type: square;
    }
}