$blackColor: rgb(26, 26, 26);
$darkColor: #011826;
$darkBlueColor: #024873;
$whiteColor: rgb(246, 239, 231);
$redColor: rgb(174, 2, 2);
$greyColor: rgb(185, 191, 164);
$backGroundWhiteColor: #F2F2F2;
$greenColor: #1A7341;

// FONTS
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;

@mixin buttonStyle($color, $fontSize) {
    width: 200px;
    height: 40px;
    background-color: $color;
    border: none;
    border-radius: 8px;
    color: $whiteColor;
    font-size: $fontSize;
}